# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidence to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

In [81]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
air_bnb = pd.read_csv('files/AB_NYC_2019.csv')
air_bnb.head(20)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.43,1,6
11,5441,Central Manhattan/near Broadway,7989,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,2,188,2019-06-23,1.50,1,39
12,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4,167,2019-06-24,1.34,3,314
13,6021,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,113,2019-07-05,0.91,1,333
14,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,2018-10-31,0.22,1,0
15,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,2019-06-29,1.20,1,46
16,7097,Perfect for Your Parents + Garden,17571,Jane,Brooklyn,Fort Greene,40.69169,-73.97185,Entire home/apt,215,2,198,2019-06-28,1.72,1,321
17,7322,Chelsea Perfect,18946,Doti,Manhattan,Chelsea,40.74192,-73.99501,Private room,140,1,260,2019-07-01,2.12,1,12
18,7726,Hip Historic Brownstone Apartment with Backyard,20950,Adam And Charity,Brooklyn,Crown Heights,40.67592,-73.94694,Entire home/apt,99,3,53,2019-06-22,4.44,1,21
19,7750,Huge 2 BR Upper East Cental Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,7,0,NaN,NaN,2,249

In [48]:
# Which hosts are the busiest and why?
# print(air_bnb[['host_id', 'availability_365']])
Avail0 = air_bnb.query('availability_365 == 0')
Min = Avail0.query('minimum_nights <= 2')
Min.query('calculated_host_listings_count > 4')

These 137 hosts have high property counts and the busiest turn around.

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
250,62461,B NYC Staten Alternative...,303939,Lissette,Staten Island,Tompkinsville,40.63627,-74.08543,Private room,37,2,147,2019-06-10,1.44,6,0
1727,783202,"Charming Apt off Bleecker, First Fl",4129805,Evelyn,Manhattan,West Village,40.73164,-74.00327,Entire home/apt,190,2,185,2019-06-24,2.30,5,0
1962,857696,PRIVATE LARGE-MODERN-CLEAN master bedroom,2559004,Sergio,Manhattan,East Harlem,40.80215,-73.93889,Private room,51,1,4,2019-06-26,0.10,5,0
3558,2124910,Private Room E,10384906,Susan,Brooklyn,Borough Park,40.63592,-74.00476,Private room,33,1,98,2019-06-16,1.55,5,0
6252,4567433,Room #2 Near Manhattan NYC.,22384027,Shahana,Brooklyn,Brownsville,40.67068,-73.91633,Private room,39,1,89,2018-08-16,1.57,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44011,33993547,Small Private Room in 3 bdr apt - East Village,33214549,Alexandre,Manhattan,East Village,40.72670,-73.98316,Private room,99,1,5,2019-06-13,1.90,5,0
44332,34180216,Comfy Jfk Room to crash,232251881,Lakshmee,Queens,Jamaica,40.66794,-73.78483,Private room,39,1,15,2019-07-04,6.25,8,0
45015,34491611,Spacious 450 sq ft King Room near Times Square,261750091,The Michelangelo,Manhattan,Theater District,40.76097,-73.98181,Private room,100,1,2,2019-07-07,2.00,7,0
46408,35233799,Elmhurst Front Bedroom,219333557,Rafael,Queens,East Elmhurst,40.76251,-73.86722,Private room,49,1,3,2019-06-29,3.00,7,0
46532,35292625,Room-cabin in Hell's kitchen,137191484,Maria,Manhattan,Hell's Kitchen,40.76479,-73.98667,Private room,86,1,1,2019-06-05,0.88,5,0

In [58]:
# How many neighborhood groups are available and which shows up the most?
pd.unique(air_bnb['neighbourhood_group'])


Manhattan shows up the most of the 5 available neighbourhoods.

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

In [60]:
air_bnb['neighbourhood_group'].value_counts()

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

In [66]:
# Are private rooms the most popular in manhattan?
Neighbourhood = air_bnb.query('neighbourhood_group == "Manhattan"')
Ans = Neighbourhood['room_type'].value_counts()
Ans

There are more Entire home/apts in Manhattan

Entire home/apt    13199
Private room        7982
Shared room          480
Name: room_type, dtype: int64

In [72]:
# Which hosts are the busiest based on their reviews?
Num = air_bnb.query('number_of_reviews > 100')
Month = Num.query('reviews_per_month >= 1')
Ans = Month.query('availability_365 >=0') 
Ans
The hosts with the most reviews and the most per month who are fully booked.

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188
11,5441,Central Manhattan/near Broadway,7989,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,2,188,2019-06-23,1.50,1,39
12,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4,167,2019-06-24,1.34,3,314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33943,26877259,*Times Square Luxury Apartment Private Room*,172864847,Jae,Manhattan,Theater District,40.75964,-73.98731,Private room,100,1,137,2019-07-07,12.05,1,36
35014,27759146,Cozy corner near Empire State Building,209549523,Mariluz,Manhattan,Midtown,40.74858,-73.98341,Shared room,62,1,112,2019-06-13,10.77,3,0
36238,28826608,“For Heaven Cakes”,217379941,Brent,Queens,Springfield Gardens,40.66457,-73.76918,Entire home/apt,75,1,132,2019-07-05,15.78,1,28
37093,29489893,Beautiful furnished private studio with backyard,222098649,Melissa,Queens,Jamaica,40.68547,-73.79063,Entire home/apt,20,1,111,2019-07-07,13.11,1,41
42075,32678719,Enjoy great views of the City in our Deluxe Room!,244361589,Row NYC,Manhattan,Theater District,40.75918,-73.98801,Private room,100,1,156,2019-07-07,58.50,9,299

In [96]:
#Which neighorhood group has the highest average price?
avg = air_bnb.groupby('neighbourhood_group', as_index=False)['price'].mean()
avg

  neighbourhood_group       price
0               Bronx   87.496792
1            Brooklyn  124.383207
2           Manhattan  196.875814
3              Queens   99.517649
4       Staten Island  114.812332

In [97]:
# Which neighbor hood group has the highest total price?
air_bnb.groupby('neighbourhood_group', as_index=False)['price'].max()

Several of them

  neighbourhood_group  price
0               Bronx   2500
1            Brooklyn  10000
2           Manhattan  10000
3              Queens  10000
4       Staten Island   5000

In [114]:
#Which top 5 hosts have the highest total price?
top_5 = air_bnb.groupby('host_id')['price'].max()
top_5.sort_values(ascending=False)

host_id
72390391     10000
20582832     10000
5143901      10000
4382127       9999
1235070       9999
             ...
205820814       10
52777892        10
180661875       10
13709292         0
10132166         0
Name: price, Length: 37457, dtype: int64

In [100]:
# Who currently has no (zero) availability with a review count of 100 or more?
no_avail = air_bnb.query('availability_365 == 0')
count = no_avail.query('number_of_reviews >= 100')
count

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
94,20913,Charming 1 bed GR8 WBurg LOCATION!,79402,Christiana,Brooklyn,Williamsburg,40.70984,-73.95775,Entire home/apt,100,5,168,2018-07-22,1.57,1,0
132,30031,NYC artists’ loft with roof deck,129352,Sol,Brooklyn,Greenpoint,40.73494,-73.95030,Private room,50,3,193,2019-05-20,1.86,1,0
174,44221,Financial District Luxury Loft,193722,Coral,Manhattan,Financial District,40.70666,-74.01374,Entire home/apt,196,3,114,2019-06-20,1.06,1,0
180,45556,"Fort Greene, Brooklyn: Center Bedroom",67778,Doug,Brooklyn,Fort Greene,40.68863,-73.97691,Private room,65,2,206,2019-06-30,1.92,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29581,22705516,The Quietest Block in Manhattan :),127740507,Kathleen,Manhattan,Harlem,40.83102,-73.94181,Private room,65,2,103,2019-07-07,5.89,2,0
30461,23574142,queens get away!!,176185168,Janet,Queens,Laurelton,40.68209,-73.73662,Private room,65,1,119,2018-12-24,7.79,1,0
31250,24267706,entire sunshine of the spotless mind room,21074914,Albert,Brooklyn,Bedford-Stuyvesant,40.68234,-73.91318,Private room,49,1,102,2019-07-05,6.73,3,0
32670,25719044,COZY Room for Female Guests,40119874,Stephany,Brooklyn,Prospect-Lefferts Gardens,40.66242,-73.94417,Private room,48,1,131,2019-05-31,9.97,2,0
35014,27759146,Cozy corner near Empire State Building,209549523,Mariluz,Manhattan,Midtown,40.74858,-73.98341,Shared room,62,1,112,2019-06-13,10.77,3,0

In [165]:
# What host has the highest total of prices and where are they located?
host = air_bnb.query('price >= 7500')
host

There are 3 hosts with the highest listing prices, one in Queens, one in Manhattan, and one in Brooklyn

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
4377,2953058,Film Location,1177497,Jessica,Brooklyn,Clinton Hill,40.69137,-73.96723,Entire home/apt,8000,1,1,2016-09-15,0.03,11,365
6530,4737930,Spanish Harlem Apt,1235070,Olson,Manhattan,East Harlem,40.79264,-73.93898,Entire home/apt,9999,5,1,2015-01-02,0.02,1,0
9151,7003697,Furnished room in Astoria apartment,20582832,Kathrine,Queens,Astoria,40.76810,-73.91651,Private room,10000,100,2,2016-02-13,0.04,1,0
12342,9528920,"Quiet, Clean, Lit @ LES & Chinatown",3906464,Amy,Manhattan,Lower East Side,40.71355,-73.98507,Private room,9999,99,6,2016-01-01,0.14,1,83
17692,13894339,Luxury 1 bedroom apt. -stunning Manhattan views,5143901,Erin,Brooklyn,Greenpoint,40.73260,-73.95739,Entire home/apt,10000,5,5,2017-07-27,0.16,1,0
29238,22436899,1-BR Lincoln Center,72390391,Jelena,Manhattan,Upper West Side,40.77213,-73.98665,Entire home/apt,10000,30,0,NaN,NaN,1,83
29662,22779726,East 72nd Townhouse by (Hidden by Airbnb),156158778,Sally,Manhattan,Upper East Side,40.76824,-73.95989,Entire home/apt,7703,1,0,NaN,NaN,12,146
30268,23377410,Beautiful/Spacious 1 bed luxury flat-TriBeCa/Soho,18128455,Rum,Manhattan,Tribeca,40.72197,-74.00633,Entire home/apt,8500,30,2,2018-09-18,0.18,1,251
40433,31340283,2br - The Heart of NYC: Manhattans Lower East ...,4382127,Matt,Manhattan,Lower East Side,40.71980,-73.98566,Entire home/apt,9999,30,0,NaN,NaN,1,365
42523,33007610,70' Luxury MotorYacht on the Hudson,7407743,Jack,Manhattan,Battery Park City,40.71162,-74.01693,Entire home/apt,7500,1,0,NaN,NaN,1,364
45666,34895693,Gem of east Flatbush,262534951,Sandra,Brooklyn,East Flatbush,40.65724,-73.92450,Private room,7500,1,8,2019-07-07,6.15,2,179

In [115]:
# When did Danielle from Queens last receive a review?
name = air_bnb.loc[air_bnb['host_name'] == 'Danielle']
group = name.loc[name['neighbourhood_group'] == 'Queens']
group['last_review'].sort_values(ascending=False)

There are several Hosts named Danielle in Queens but the last one to recieve a review was host_id=22469
who last recieved a review on 2019-07-08

22469    2019-07-08
21517    2019-07-07
20403    2019-07-06
22068    2019-07-06
7086     2019-07-03
33861    2019-06-20
27021    2018-01-02
16349           NaN
Name: last_review, dtype: object

## Further Questions

1. Which host has the most listings?

In [119]:
top = air_bnb.groupby('host_id')['calculated_host_listings_count'].max()
top.sort_values(ascending=False)

Host ID 219517861

host_id
219517861    327
107434423    232
30283594     121
137358866    103
16098958      96
            ...
13540183       1
13538150       1
13535952       1
13533446       1
274321313      1
Name: calculated_host_listings_count, Length: 37457, dtype: int64

2. How many listings have completely open availability?

In [122]:
air_bnb['availability_365'].value_counts()
1295

0      17533
365     1295
364      491
1        408
89       361
       ...
195       26
196       24
183       24
181       23
202       20
Name: availability_365, Length: 366, dtype: int64

3. What room_types have the highest review numbers?

In [132]:
air_bnb.groupby('room_type')['number_of_reviews'].value_counts(ascending=False)
Entire home/apt

room_type        number_of_reviews
Entire home/apt  0                    5077
                 1                    2553
                 2                    1787
                 3                    1349
                 4                    1121
                                      ...
Shared room      225                     1
                 228                     1
                 229                     1
                 236                     1
                 454                     1
Name: number_of_reviews, Length: 804, dtype: int64

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

There are plenty of conculsions to take from any set of statistics; especially this large. It's not for me to decide what it is that someone wants to pull out of this information because anything could be drawn. You could say Manhattan is the most popular because it has the least availibility, or that brooklyn is the most popular because it has the most reviews. There is not way to make sweeping general conclusions about huge amounts of information like this.